@use "base/vars" as v;
@use "base/mixins" as m;

.material-symbols-rounded {
  font-size: 4rem !important;
  top: 80% !important;
  .fp-controlArrow {
    font-variation-settings: "OPSZ" 48;
  }
}

.section1-bg {
  .black_bg {
    background: rgba(0, 0, 0, 0.8);
    width: 670px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.headline {
  position: relative;
  top: 0;
  left: 12rem;
  color: v.$white;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 16px;
  z-index: 2;
  span {
    color: v.$primarycolor;
  }
}

.subhead {
  position: relative;
  top: 0;
  left: 12rem;
  width: 60%;
  color: v.$white;
  font-size: 3rem;
  line-height: 3.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  z-index: 2;
}

.subtitle {
  position: relative;
  top: 0;
  left: 12rem;
  width: 60%;
  color: v.$white;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  z-index: 2;
  span {
    font-weight: 600;
  }
}

.list {
  color: #fff;
  font-family: Montserrat, sans-serif;
  left: 47rem;
  margin-bottom: 2rem;
  position: relative;
  top: 3rem;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.2rem;
  width: 45%;
  z-index: 2;

  li {
    margin-bottom: 0.5rem;

    span {
      font-weight: 600;
    }
  }
}

.text-content {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
  position: relative;
  top: 2rem;
  left: 690px;

  span {
    color: v.$primarycolor;
    font-weight: 600;
  }
}

.s1 {
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(165, 204, 21, 0.2) 100%
    ),
    url(../../build/img/landing-img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  color: v.$white;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3em;
  }

  .fp-slidesNav ul {
    margin-left: calc(50% - 2.9em);
    margin-bottom: 3rem;
    span {
      background-color: v.$white;
    }
  }

  #fp-nav ul {
    width: 20px;
  }

  .text-content {
    width: 50%;
  }
}

.section-content {
  width: 80%;
  margin: 0 4rem;

  @include m.maxtablet {
    width: 75%;
    text-align: center;
    margin: 0 auto;
  }
}

.fp-scroll-mac .fp-overflow::-webkit-scrollbar-thumb {
  background-color: #00000000 !important;
}

.s2 {
  background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(165, 204, 21, 0.2) 100%
    ),
    url(https://images.unsplash.com/photo-1545346315-f4c47e3e1b55);
  background-size: cover;
  background-repeat: no-repeat;
  color: v.$white;

  .text-content {
    width: 50%;
  }
}

.s3 {
  background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(165, 204, 21, 0.6) 100%
    ),
    url(https://images.unsplash.com/photo-1534438327276-14e5300c3a48);
  background-size: cover;
  background-repeat: no-repeat;
  color: v.$white;

  .text-content {
    width: 50%;
  }
}

.s4 {
  background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(165, 204, 21, 0.2) 100%
    ),
    url(https://images.unsplash.com/photo-1571902943202-507ec2618e8f);
  background-size: cover;
  background-repeat: no-repeat;
  color: v.$white;

  .text-content {
    width: 50%;
  }
}

.s5 {
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.8) 60%,
      rgba(165, 204, 21, 0.2) 100%
    ),
    url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f);
  background-size: cover;
  background-repeat: no-repeat;
  color: v.$white;

  .text-content {
    width: 50%;
  }
}

.s6 {
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(165, 204, 21, 0.2) 100%
    ),
    url(https://images.unsplash.com/photo-1613080828608-7600e9186fcd);
  background-size: cover;
  background-repeat: no-repeat;
  color: v.$white;
}

.s7 {
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.8) 40%,
      rgba(165, 204, 21, 0.2) 100%
    ),
    url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570);
  background-size: cover;
  background-repeat: no-repeat;
  color: v.$white;
}

.switch-active {
  color: #fff;
  font-weight: 600;
}

.hide {
  display: none;
}

.switch-content {
  height: fit-content;
  text-align: left;
}

.dafo {
  width: 100%;
  display: flex;
  justify-content: center;

  .switch-box {
    display: flex;
    gap: 7rem;
    position: relative;
    padding-left: 300px;
    top: 1rem;
    left: 1rem;

    .switch-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

.switch-links > a {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.dafo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  li {
    list-style-type: disc;
  }
}

.final-msg {
  text-align: center;
  margin-top: 3rem;
  margin-left: -1rem;
}

.bootstrap-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #a5c723;
}

.bootstrap-btn:hover {
  background-color: #98b81b;
}
